<header class="topHeader">
  <!-- 白框內容及水果圖 -->
  <div class="title">
    <div class="heading1">
      <p>農糧統計</p>
      <p>開放資料</p>
    </div>
    <p class="p2 text">
      提供農糧產品生產成本及產地價格資料，做學術研究或一般參考使用。
    </p>
    <div class="fruitimg"></div>
  </div>
</header>

<!-- 農糧產品生產成本頁 -->
<!-- P1 -->
<section class="page">
  <article class="text flex border1 padding">
    <div class="textLeft">
      <p class="heading2">農糧產品生產成本</p>
      <p class="text1">
        提供農糧產品(含稻穀)生產成本資料，作學術研究或一般參考使用
      </p>
    </div>
    <!-- 段落 -->
    <div>
      <div class="paragraphMargin">
        <div class="APIbutton">
          <p class="heading3">成本細項</p>
          <!-- 😂😫😫 路由壞掉-->
          <a routerLink="/pageTwo">
            <mat-icon>link</mat-icon>
            <p>API Info</p>
          </a>
          <a>
            <mat-icon>query_stats</mat-icon>
            Online Report
          </a>
        </div>
        <p class="text2">
          說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字
        </p>
      </div>
    </div>
  </article>
</section>
