<body>
  <header class="header">
    <nav>
      <div class="nav padding">
        <img class="icon" src="../assets/img/pic_logo.png" alt="" />
        <div>
          <button>
            <mat-icon>home</mat-icon>
            回本署
          </button>
          <button>EN</button>
          <button>MENU</button>
        </div>
      </div>
    </nav>
    <div class="fruitImg">
      <div class="title">
        <p class="p1">農糧統計開放資料</p>
        <p class="p2">
          提供農糧產品生產成本及產地價格資料，做學術研究或一般參考使用。
        </p>
      </div>
      <img src="../assets/img/pic_fruit.png" alt="" />
    </div>
  </header>
  <section class="section1"></section>
</body>
