// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$farmer-primary: mat.define-palette(mat.$green-palette, 400);
$farmer-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$farmer-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$farmer-theme: mat.define-light-theme(
  (
    color: (
      primary: $farmer-primary,
      accent: $farmer-accent,
      warn: $farmer-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($farmer-theme);

/* You can add global styles to this file, and also import other style files */
html {
  font-size: 16px;
}
* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
:root {
  //navBar & 背景遮色片
  --cover: rgba(255, 255, 255, 0.5);
  //首頁title
  --green1: rgb(0, 100, 0);
  //API標籤、綠色外框
  --green2: #c8e6c9;
  //footer LogoTitle
  --green3: #81c784;
  //內文文字、中標文字
  --green4: #e8f5e9;
  --gray1: rgb(69, 69, 69);
  --gray2: rgb(161, 161, 161);
  //footer白色字體
  --textWhite: rgb(255, 255, 255);
  //section border
  --blue: #b3e5fc;
  --red: #f8bbd0;
  --white: #fff;

  //footer border
  --orange: rgb(255, 166, 0);
  // 單頁高度
  --pageHeight: 67.5rem;

  //字體
  --h1: 5rem;
  --h2: 4rem;
  --h3: 3rem;
  --h4: 2rem;
  --h5: 1.5rem;
  --h6: 1rem;
}

a {
  white-space: nowrap;
  color: var(--gray1);
  text-decoration: none;
}
//文字模組
//header
.heading1 {
  font-size: var(--h1);
  color: var(--green1);
  font-weight: bold;
  white-space: nowrap;
}
//section
.heading2 {
  font-size: var(--h3);
  color: var(--gray1);
  font-weight: bold;
  white-space: nowrap;
}
//成本細項
.heading3 {
  font-size: var(--h4);
  color: var(--gray1);
  font-weight: bold;
  white-space: nowrap;
}

//header
.text {
  font-size: var(--h4);
  color: var(--gray1);
}
//section小副標
.text1 {
  font-size: var(--h4);
  color: var(--gray1);
}
//section文字
.text2 {
  font-size: var(--h5);
  color: var(--gray1);
}
//footer文字
.footerText {
  font-size: var(--h6);
  color: var(--textWhite);
  line-height: 2rem;
}

//flex排版
.flex {
  display: flex;
}
.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
button:hover {
  color: pink;
}
@media (max-width: 1440px) {
  :root {
    --pageHeight: 56rem;
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 1080px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 980px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 11px;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 10px;
  }
  :root {
    --pageHeight: 50rem;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* hero樣式 start */
/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body,
input[type="text"],
button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}
button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
button:hover {
  background-color: black;
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
/*hero樣式 end */
